@keyframes slideUpLeave{
  0% {
    transform:translateY(0)
  }
  100%{
    transform:translateY(-100%);
  }
}

@-webkit-keyframes slideUpLeave{
  0% {
    transform:translateY(0)
  }
  100%{
    transform:translateY(-100%);
  }
}

@keyframes slideUpEnter{
  0% {
    transform:translateY(100%)
  }
  100%{
    transform:translateY(0%);
  }
}

@-webkit-keyframes slideUpEnter{
  0% {
    transform:translateY(100%)
  }
  100%{
    transform:translateY(0%);
  }
}

@keyframes slideDownLeave{
  0% {
    transform:translateY(0)
  }
  100%{
    transform:translateY(100%);
  }
}

@-webkit-keyframes slideDownLeave{
  0% {
    transform:translateY(0)
  }
  100%{
    transform:translateY(100%);
  }
}

@keyframes slideDownEnter{
  0% {
    transform:translateY(-100%)
  }
  100%{
    transform:translateY(0%);
  }
}

@-webkit-keyframes slideDownEnter{
  0% {
    transform:translateY(-100%)
  }
  100%{
    transform:translateY(0%);
  }
}

// slideRight en slideLeft worden uitgevoerd door 'Left' op 0, 100% of -100%, omdat anders de Behind the scenes button en Work button op de overzichtspagina's niet meer werkte.
// Kun je testen door 'Transform: translateX(0)' toe te voegen aan hoogste div, de button zal verdwijnen.
@keyframes slideRightLeave{
  0% {
    transform:translateX(0);
  }
  100%{
    transform:translateX(100%);
  }
}

@-webkit-keyframes slideRightLeave{
  0% {
    transform:translateX(0);
  }
  100%{
    transform:translateX(140%);
  }
}

@keyframes slideRightEnter{
  0% {
    transform:translateX(-100%);
  }
  100%{
    transform:translateX(0%);
  }
}

// @-webkit-keyframes slideRightEnter{
//   0% {
//     transform:translateX(-100%);
//   }
//   100%{
//     transform:translateX(0%);
//   }
// }

@keyframes slideLeftLeave{
  0% {
    transform:translateX(0);
  }
  100%{
    transform:translateX(-140%);
  }
}

// @-webkit-keyframes slideLeftLeave{
//   0% {
//     transform:translateX(0);
//   }
//   100%{
//     transform:translateX(-100%);
//   }
// }

@keyframes slideLeftEnter{
  0% {
    transform:translateX(100%);
  }
  100%{
    transform:translateX(0%);
  }
}

@-webkit-keyframes slideLeftEnter{
  0% {
    transform:translateX(100%);
  }
  100%{
    transform:translateX(0%);
  }
}


@keyframes fadeInScale{
  0% {
    opacity:0;
    transform: scale(.2);
  }
  100%{
    opacity:1;
    transform: scale(1);
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); opacity:0;}
  100% { transform: rotate(360deg); opacity:1; }
}

@keyframes hideElement {
    to {
        height:0;
        overflow:hidden;
    }
}

/* The typing effect */
@keyframes typing {
  0% { width: 0% }
  25% { width: 100%; }
  50%, 100% { width: 0% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-left-color: transparent }
  50% { border-left-color: #000 }
}


// Pijltje hover effect
@keyframes wobble{
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideName{
  0% {
    transform:translateY(0);
  }
  20%{
    transform:translateY(0);
  }
  30%{
    transform:translateY(-26px);
  }
  70%{
    transform:translateY(-26px);
  }
  80%{
    transform:translateY(0);
  }

  100%{
    transform:translateY(0);
  }
}

@keyframes slideLabel{
  0% {
    transform:translateY(0);
  }
  20%{
    transform:translateY(0);
  }
  30%{
    transform:translateY(-50%);
  }
  70%{
    transform:translateY(-50%);
  }
  80%{
    transform:translateY(0);
  }

  100%{
    transform:translateY(0);
  }
}

// Curve van X^2 / 1,69 <-- (Toch niet)
@keyframes namedrop{
  0%{
    transform:translateY(0);
  }
  2%{
    transform:translateY(-140px);
  }
  4%{
    transform:translateY(-280px);
  }
  7%{
    transform:translateY(-420px);
  }
  11%{
    transform:translateY(-560px);
  }
  16%{
    transform:translateY(-700px);
  }
  24%{
    transform:translateY(-840px);
  }
  32%{
    transform:translateY(-980px);
  }
  40%{
    transform:translateY(-1120px);
  }
  49%{
    transform:translateY(-1260px);
  }
  61%{
    transform:translateY(-1400px);
  }
  74%{
    transform:translateY(-1540px);
  }
  88%{
    transform:translateY(-1680px);
  }
  100%{
    transform:translateY(-1820px);
  }
}
