// Fade
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
  position: absolute;
  left:0;
  right:0;
  width: 100%;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
  position: absolute;
  left:0;
  right:0;
  width:100%;
}


// Slide Left
.slideLeft-enter {
  width:100%;
  position: absolute;
}

.slideLeft-enter.slideLeft-enter-active {
  animation: slideLeftEnter 500ms ease-in-out forwards;
  z-index:10;
}

.slideLeft-leave {
  width:100%;
  position: absolute;
}

.slideLeft-leave.slideLeft-leave-active {
  animation: slideLeftLeave 300ms ease-in-out forwards;
}


// Slide Right
.slideRight-enter {
  width:100%;
  position: absolute;
}

.slideRight-enter.slideRight-enter-active {
  animation: slideRightEnter 500ms ease-in-out forwards;
   z-index:10;
}

.slideRight-leave {
  width:100%;
  position: absolute;
}

.slideRight-leave.slideRight-leave-active {
  animation: slideRightLeave 300ms ease-in-out forwards;
}

// Slide Up
.slideUp-enter {
  width:100%;
  position: absolute;
  transform:translateY(-100%);
  z-index:10;
}

.slideUp-enter.slideUp-enter-active {
  animation: slideUpEnter 1s ease-in-out forwards;
}

.slideUp-leave {
  width:100%;
  position: absolute;
  bottom:0;
}

.slideUp-leave.slideUp-leave-active {
  animation: slideUpLeave 1s ease-in-out forwards;
}

// Slide Down
.slideDown-enter {
  width:100%;
  position: absolute;
  z-index:10;
}

.slideDown-enter.slideDown-enter-active {
  animation: slideDownEnter 1s ease-in-out forwards;
}

.slideDown-leave {
  width:100%;
  position: absolute;
}

.slideDown-leave.slideDown-leave-active {
 // animation: slideDownLeave 1s ease-in-out forwards;
}

// .LazyLoad{
//   position: relative;
// }

// .LazyLoad::before{
//   content:'Loading';
//   position:absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   left: 0;
//   background-color:#ababab;
// }

// .LazyLoad.is-visible::before{
//   content:none;
// }
//
// .LazyLoad.is-visible img{
//   animation: fadeIn 500ms forwards 0ms;
// }


// .fade-enter {
//   opacity: 0;
// }
//
// .fade-enter.fade-enter-active {
//   opacity: 1;
//   transition: opacity 5000ms ease-in;
//   position: absolute;
//   left:0;
//   right:0;
//   width: 100%;
// }
//
// .fade-leave {
//   opacity: 1;
// }
//
// .fade-leave.fade-leave-active {
//   opacity: 0;
//   transition: opacity 3000ms ease-in;
//   position: absolute;
//   left:0;
//   right:0;
//   width:100%;
// }
