body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 250px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.fade-enter {
  opacity: 0; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%; }

.fade-leave {
  opacity: 1; }

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%; }

.slideLeft-enter {
  width: 100%;
  position: absolute; }

.slideLeft-enter.slideLeft-enter-active {
  animation: slideLeftEnter 500ms ease-in-out forwards;
  z-index: 10; }

.slideLeft-leave {
  width: 100%;
  position: absolute; }

.slideLeft-leave.slideLeft-leave-active {
  animation: slideLeftLeave 300ms ease-in-out forwards; }

.slideRight-enter {
  width: 100%;
  position: absolute; }

.slideRight-enter.slideRight-enter-active {
  animation: slideRightEnter 500ms ease-in-out forwards;
  z-index: 10; }

.slideRight-leave {
  width: 100%;
  position: absolute; }

.slideRight-leave.slideRight-leave-active {
  animation: slideRightLeave 300ms ease-in-out forwards; }

.slideUp-enter {
  width: 100%;
  position: absolute;
  transform: translateY(-100%);
  z-index: 10; }

.slideUp-enter.slideUp-enter-active {
  animation: slideUpEnter 1s ease-in-out forwards; }

.slideUp-leave {
  width: 100%;
  position: absolute;
  bottom: 0; }

.slideUp-leave.slideUp-leave-active {
  animation: slideUpLeave 1s ease-in-out forwards; }

.slideDown-enter {
  width: 100%;
  position: absolute;
  z-index: 10; }

.slideDown-enter.slideDown-enter-active {
  animation: slideDownEnter 1s ease-in-out forwards; }

.slideDown-leave {
  width: 100%;
  position: absolute; }

@keyframes slideUpLeave {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-100%); } }

@-webkit-keyframes slideUpLeave {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-100%); } }

@keyframes slideUpEnter {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0%); } }

@-webkit-keyframes slideUpEnter {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0%); } }

@keyframes slideDownLeave {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(100%); } }

@-webkit-keyframes slideDownLeave {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(100%); } }

@keyframes slideDownEnter {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%); } }

@-webkit-keyframes slideDownEnter {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%); } }

@keyframes slideRightLeave {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(100%); } }

@-webkit-keyframes slideRightLeave {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(140%); } }

@keyframes slideRightEnter {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0%); } }

@keyframes slideLeftLeave {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-140%); } }

@keyframes slideLeftEnter {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0%); } }

@-webkit-keyframes slideLeftEnter {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0%); } }

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.2); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 0; }
  100% {
    transform: rotate(360deg);
    opacity: 1; } }

@keyframes hideElement {
  to {
    height: 0;
    overflow: hidden; } }

/* The typing effect */
@keyframes typing {
  0% {
    width: 0%; }
  25% {
    width: 100%; }
  50%, 100% {
    width: 0%; } }

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-left-color: transparent; }
  50% {
    border-left-color: #000; } }

@keyframes wobble {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px); }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes slideName {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(0); }
  30% {
    transform: translateY(-26px); }
  70% {
    transform: translateY(-26px); }
  80% {
    transform: translateY(0); }
  100% {
    transform: translateY(0); } }

@keyframes slideLabel {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(0); }
  30% {
    transform: translateY(-50%); }
  70% {
    transform: translateY(-50%); }
  80% {
    transform: translateY(0); }
  100% {
    transform: translateY(0); } }

@keyframes namedrop {
  0% {
    transform: translateY(0); }
  2% {
    transform: translateY(-140px); }
  4% {
    transform: translateY(-280px); }
  7% {
    transform: translateY(-420px); }
  11% {
    transform: translateY(-560px); }
  16% {
    transform: translateY(-700px); }
  24% {
    transform: translateY(-840px); }
  32% {
    transform: translateY(-980px); }
  40% {
    transform: translateY(-1120px); }
  49% {
    transform: translateY(-1260px); }
  61% {
    transform: translateY(-1400px); }
  74% {
    transform: translateY(-1540px); }
  88% {
    transform: translateY(-1680px); }
  100% {
    transform: translateY(-1820px); } }
